$denim: #022959;
$grey: #9699AA;
$light-blue: #ABBCFF;
$orange: #FFAF7E;
$light-grey: #D6D9E6;
$pink: #F9818E;
$purple: #483EFF;
$error: #EE374A;
$sky-blue: #BEE2FD;
$lighter-grey: #F8F9FF;
$white: #fff;
$bg: #EFF5FF;
$border-color: #D6D9E6;